# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Build/Dist
build/
dist/
*.spec
build_log.txt

# Playwright/Browsers/Profiles
chrome_*profile*/
*.png
*.html
*.json
!requirements.txt
!README.md

# IDEs
.vscode/
.idea/
